#connexion-layout-container,
#account-layout {
  /* border: 1px black solid; */
  min-height: 89vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 50px; */
  padding: 25px 0px;
}
#connexion-layout-container header {
  /* border: 1px blue solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#connexion-layout-container .cnx-layout-btn {
  all: unset;
  box-sizing: border-box;
  padding: 5px 4px;
  /* color: #088280; */
  color: #f34c3f;
  border-radius: 10px;
  cursor: pointer;
}
#connexion-layout-container .cnx-layout-btn:hover {
  text-decoration: underline;
}
#settings-layout {
  /* border: 1px black solid; */
  width: 94%;
  margin: auto;
  min-height: 92.5vh;
}
.settings-nav-section {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}
.settings-nav-section a {
  all: unset;
  font-weight: 500;
  font-size: 1.1rem;
}
#account-layout header {
  /* border-bottom: 1px blue solid; */
  width: 40%;
  display: flex;
  justify-content: space-between;
}
#account-layout header a {
  all: unset;
  font-size: 1.2rem;
  font-weight: 500;
  color: #f34c3f;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
/* #account-layout header a:hover {
  text-decoration: underline;
  cursor: pointer;
} */
